@model MYMVC_ViewModelDemo.Models.StudentDetailsViewModel


<h1>Details Of A Student :</h1>
<h2>@Model.Title</h2>
<h2>@Model.University</h2>
<p>Roll No: @Model.student.StudentId</p>
<p>Name   : @Model.student.Name</p>
<p>Branch : @Model.student.Branch</p>
<hr />
<h1>Address :</h1>
<p>City   :@Model.address.City</p>
<p>PIN    :@Model.address.PIn</p>
