@model IEnumerable<MYMVC_ViewModelDemo.Models.Category>

@{
    ViewData["Title"] = "Index1";
}

<h1>Index1</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Catname)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Catname)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Catid">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Catid">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Catid">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
