
@model List<Batch>
    
<h1>Yoga Class Booking System</h1>

@if (Model != null && Model.Count > 0)
{
    <table class="table">
        <thead>
            <tr>
                <th>Start Time</th>
                <th>End Time</th>
                <th>Remaining Capacity</th>
                <th>Actions</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var batch in Model)
            {
                <tr>
                    <td>@batch.StartTime</td>
                    <td>@batch.EndTime</td>
                    <td>@batch.Capacity</td>
                   
                    <td>
                       
                            <a id="bookButton" asp-controller="Booking" asp-action="BatchEnrollmentForm" asp-route-id="@batch.BatchID" class="btn btn-primary book-button">Book</a>

                       
                    </td>
                    <td>
                        <form method="post" asp-controller="Batch" asp-action="DeleteConfirmation" asp-route-id="@batch.BatchID">
                            <button type="submit" id="deleteButton" class="btn btn-danger">Delete</button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>No available batches.</p>
}

<a id="bookedbatches" asp-controller="Batch" asp-action="BookedBatches" class="btn btn-primary">Booked Batches</a>