@model dotnetapp.Models.Booking

@{
    var turfId = Context.Request.Query["turfId"];
}

<h1>Make a Reservation</h1>

<h2>Selected Turf: @turfId</h2>

@using (Html.BeginForm())
{
    <div style="margin-bottom: 15px;">
        <label for="customerName" style="font-weight: bold;">Customer Name:</label>
        @Html.TextBoxFor(model => model.CustomerName, new { @class = "form-control", id = "customerName"})
        @Html.ValidationMessageFor(model => model.CustomerName, "", new { @class = "text-danger" })
    </div>
    <div style="margin-bottom: 15px;">
        <label for="contactNumber" style="font-weight: bold;">Contact Number:</label>
        @Html.TextBoxFor(model => model.ContactNumber, new { @class = "form-control", id = "contactNumber"})
        @Html.ValidationMessageFor(model => model.ContactNumber, "", new { @class = "text-danger" })
    </div>
    <div style="margin-bottom: 15px;">
        <label for="durationInMinutes" style="font-weight: bold;">Duration (in minutes):</label>
        @Html.TextBoxFor(model => model.DurationInMinutes, new { @class = "form-control", id = "durationInMinutes"})
        @Html.ValidationMessageFor(model => model.DurationInMinutes, "", new { @class = "text-danger" })
    </div>

    <button id="submit" type="submit" style="background-color: #007bff; color: #fff; border: none; padding: 8px 16px; cursor: pointer;">Submit</button>
}

<a id="backtoturf" href="@Url.Action("Index", "Turf")">Back to Turf Reservations</a>
<br>
