@model dotnetapp.Models.Booking

<h1>Reservation Details</h1>
<p>Booking ID: @Model.BookingID</p>
<p>Turf ID: @Model.TurfID</p>
<p>Customer Name: @Model.CustomerName</p>
<p>Contact Number: @Model.ContactNumber</p>
<p>Duration (in minutes): @Model.DurationInMinutes</p>

<a href="@Url.Action("Index", "Turf")">Back to Turf Reservations</a><br>
